[Unit]
Description=NVIDIA DCGM Exporter
After=network-online.target nvidia-dcgm.service
Wants=network-online.target nvidia-dcgm.service

[Service]
Type=simple
ExecStart=/usr/bin/dcgm-exporter --address :9400
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
