[Unit]
Description=Prometheus Slurm Exporter
After=network-online.target slurmctld.service
Wants=network-online.target

[Service]
Type=simple
User=slurm
Group=slurm
ExecStart=/usr/local/bin/slurm_exporter
Restart=always
RestartSec=10
Environment="PATH=/usr/local/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
